{% extends 'base.html'%}
{% block content %}
    <div class="container-fluid mt-3" dir="rtl">
        <h1 class="mb-4">مدیریت فاکتورها</h1>

        <div class="d-flex justify-content-between align-items-center mb-4">
            <div class="input-group" style="width: 300px;">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
                <input type="text" class="form-control" id="searchInput" placeholder="جستجوی فاکتورها..." aria-label="جستجوی فاکتورها">
                </button>
            </div>
            <a class="btn btn-primary" href="{{ url_for('invoice.export_invoices') }}">خروجی گرفتن همه</a>
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-striped" id="invoiceTable">
                <thead class="table-light">
                    <tr>
                        <th scope="col">سفارش</th>
                        <th scope="col">مشتری</th>
                        <th scope="col">مبلغ</th>
                        <th scope="col">شماره فاکتور</th>
                        <th scope="col">وضعیت</th>
                        <th scope="col" class="text-center">عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    {% for invoice in invoices %}
                    <tr>
                        <td data-label="سفارش">{{ invoice.form_number }}</td>
                        <td data-label="نام مشتری">{{ invoice.customer_name }}</td>
                        <td data-label="مبلغ">{{ invoice.total_price|iran_money }} تومان</td>
                        <td data-label="شماره فاکتور">{{ invoice.invoice_number }}</td>
                        <td data-label="وضعیت">
                            <span class="badge 
                                {% if invoice.status == 'Generated' %} bg-primary
                                {% elif invoice.status == 'Paid' %} bg-success
                                {% else %} bg-secondary
                                {% endif %}">
                                {% if invoice.status == 'Generated' %}ایجاد شده
                                {% elif invoice.status == 'Paid' %}پرداخت شده
                                {% else %}نامشخص
                                {% endif %}
                            </span>
                        </td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-sm btn-info me-2" data-bs-toggle="modal" data-bs-target="#invoiceDetailsModal" data-invoice-id="{{ invoice.id }}">
                                    <i class="fas fa-eye"></i> مشاهده
                                </button>
                                <button type="button" class="btn btn-sm btn-secondary me-2" data-bs-toggle="modal" data-bs-target="#downloadChoiceModal" data-invoice-id="{{ invoice.id }}">
                                    <i class="fas fa-download"></i> دانلود
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    {% if pagination %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% set search_param = request.args.get('search', '') %}
            {% set status_param = request.args.get('status', '') %}

            <li class="page-item {% if not pagination.has_prev %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('invoice.get_invoice_list', page=pagination.prev_num, search=search_param, status=status_param) }}" aria-label="قبلی">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for p in pagination.iter_pages() %}
                {% if p %}
                    <li class="page-item {% if p == pagination.page %}active{% endif %}">
                        <a class="page-link" href="{{ url_for('invoice.get_invoice_list', page=p, search=search_param, status=status_param) }}">{{ p }}</a>
                    </li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                {% endif %}
            {% endfor %}
            <li class="page-item {% if not pagination.has_next %}disabled{% endif %}">
                <a class="page-link" href="{{ url_for('invoice.get_invoice_list', page=pagination.next_num, search=search_param, status=status_param) }}" aria-label="بعدی">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}
    </div>

    {% include 'invoice_detail.html' %}
    {% include 'downloadmodalinvoice.html' %}
{% endblock %}
{% block scripts %}
    <!-- Add invoice.js for search functionality -->
    <script src="{{ url_for('static', filename='script/invoice.js') }}"></script>
{% endblock %}